#section-introduction{
  height: 61vh;
  background: #080808; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#section-introduction blockquote{
  width: 100%;
  max-width: 40rem;
  font-size: 20px;
  color: aliceblue;
  text-align: center;
}
